*{
	outline: px solid red !important;
}

.containerA {
  padding-right: 250px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

.imgHeader {
 	margin-right: 150px;
 	width: 750px;
 	height: 150px;
}

.imgHeader2 {
 	
 	width: 150px;
 	height: 150px;
}

.textCenter{
	padding-left: 100pc;
}

p.description2 {
  font-size: 24px;
  color: #F1EEEE;
}

p.description3 {
  font-size: 18px;
  color: #F1EEEE;
}